*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Tenor Sans', sans-serif;
    background-color: #edf6f9;
}
#msg{
    background-color: #1B1B3A;
    color: white;
    width: fit-content;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
}
.myword-box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 75%;
    margin: auto;
    border-radius: 10px;
}


.result{
    
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#dee2ff;
    color: #343a40;
    padding: 10px;
    border-radius: 10px;
    width: 650px;
    height: 100px;
   
}
.result *{
    background-color: #dee2ff;
    margin: auto;
    font-weight: bold;
}
.result-box{
    border-right: 2px solid;
    width: 25%;
}
.last-box{
    width: 25%;
}
#rem-msg{
    
    color: #ff0a54;
}
footer{
    margin: 10px;
    position: fixed;
    bottom: 0;
    left:0;
    text-align: center;
    width: 100%;
    
}

@media  screen and (max-width : 576px){
    .result{
        width: 300px;
    }
    .result-box{
        width: 30%;
    }
}

